@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bigelow+Rules&family=Oleo+Script:wght@400;700&family=Oswald:wght@200..700&family=Sofia+Sans:ital@0;1&family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bigelow+Rules&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Sofia+Sans:ital@0;1&family=Xanh+Mono:ital@0;1&display=swap');

body {
    margin: 0;
}

header {
    background-color: #6a3460;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header img {
    width: 10%;
    margin-left: 10%;
}

#icon_header {
    margin-right: 5%;
    i {
        color: white;
        margin: 10px;
        font-size: 250%;
    }
}

#hero {
    background-image: url('../images/paysage_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 670px;
    position: relative;
    
    p {
        font-family: Oleo Script;
        font-size: 2em;
        font-weight: 400;
        line-height: 55.32px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
        width: 35%;
        position: absolute;
        background-color: #6a3460;
        top: 0;
        left: 0;
        padding: 20px;
        margin-top: 5%;
        margin-left: 2.5%;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.85px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

#question_voyageur {
    background-color: #E4DCE2;
    width: 100%;

    p {
        margin-top: 3%;
        margin-bottom: 4%;
    }
}

#proposition_voyageur {
    display: flex;
    justify-content: space-around;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 2%;
}

.choix_voyageur {

    img {
    width: 200px;
    }

    p {
        margin-top: 0;
    }
}

#c_est_parti {
    background-image: url('../images/paysage_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center; 
    align-items: center;

}

#c_est_parti p {
    display: inline-block;
    background-color: #6a3460;
    color: white; 
    padding: 2% 2.5%; 
    text-transform: uppercase; 
    border-radius: 30px;
    text-align: center;
    font-weight: 700;
    border: 5px solid;
    border-color: white;
}

footer {
    background-color: #6a3460;
    height: 6%;
    text-align: center;

    img {
        width: 25%;
    }
}